<div class="container">
  <h2 class="text-center mt-3">Acciones Argentinas</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Simbolo</th>
          <th scope="col">Último Operado</th>
          <th scope="col">Variación Diaria %</th>
          <th scope="col">Cantidad Compra diaria</th>
          <th scope="col">Maximo Diario</th>
          <th scope="col">Minimo Diario</th>
          <th scope="col">Precio Cierre</th>
          <th scope="col">Fecha Cierre</th>
          <th scope="col">Comprar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Apple Inc.</td>
          <td>AAPL</td>
          <td>$150.50</td>
          <td>+2.5%</td>
          <td>1,500,000</td>
          <td>$155.00</td>
          <td>$145.50</td>
          <td>$149.75</td>
          <td>2023-07-05</td>
          <td><button class="btn btn-green">Comprar</button></td>
        </tr>
        <tr>
          <td>Alphabet Inc.</td>
          <td>GOOGL</td>
          <td>$2,500.25</td>
          <td>-1.8%</td>
          <td>850,000</td>
          <td>$2,550.00</td>
          <td>$2,480.00</td>
          <td>$2,520.10</td>
          <td>2023-07-05</td>
          <td><button class="btn btn-green">Comprar</button></td>
        </tr>
        <tr>
          <td>Microsoft Corporation</td>
          <td>MSFT</td>
          <td>$300.75</td>
          <td>+0.5%</td>
          <td>2,200,000</td>
          <td>$305.00</td>
          <td>$298.50</td>
          <td>$299.90</td>
          <td>2023-07-05</td>
          <td><button class="btn btn-green">Comprar</button></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
