   
    <main id="comprarAcciones" >
        <section class="container">
            <div class="row">
                <h1 class="text-start p-3">Comprar acciones</h1>
            </div>
    
            <form class="p-3 section-bg " action="">
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Mercado
                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option>Argentina</option> 
                        </select>
                    </div>
                </div>
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Símbolo
                    </div>
                    <div class="col-md-6">
                        <select #drop (change)="getBySimbolo(drop.value)" (change)="calcularTotal(cantidad.value)" id="dropdownSimbolo" class="form-control">
                            <option *ngFor="let item of listSimbolos" >{{item.simbolo}}</option>
                        </select>
                    </div>
                </div>
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Precio actual
                    </div>
                    <div class="col-md-6">
                        <span class="badge bg-primary">$ARS {{precioAccion}}</span>
                    </div>
                </div>
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Cantidad
                    </div>
                    <div class="col-md-6">
                        <div class="input-group flex-nowrap">                        
                            <input #cantidad type="number" min="1" class="form-control" value="1" (keyup)="calcularTotal(cantidad.value)" (click)="calcularTotal(cantidad.value)" placeholder="Ejemplo: 120" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                    </div>
                </div>
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Modalidad
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked
                                disabled>
                            <label class="form-check-label" for="flexCheckCheckedDisabled">
                                Precio de mercado
                            </label>
                        </div>
                    </div>
                </div>
    
                <div class="row p-2">
                    <div class="col-md-6">
                        Precio total
                    </div>
                    <div class="col-md-6">
                        <span class="badge bg-primary">$ARS {{precioTotal}}</span>
                    </div>
                </div>
    
                <div class="row p-2 mt-3">
                    <div class="col-md-6 p-1">
                        <button type="button" class="btn btn-primary">Ir a cotizaciones</button>
                    </div>
                    <div class="col-md-6 p-1">
                        <button type="button" class="btn btn-bd-primary">Comprar acciones</button>
                    </div>
                </div>
    
            </form>
        </section>
    </main>
