body {
  font-family: "Poppins", sans-serif;
  background-color: #1f0840;
  color: #f2f2f2;
  overflow-x: hidden;
}

main {
  color: #f2f2f2;
  font-weight: 500 !important;
}

/* .landing {
  background: linear-gradient(#0d0e26, #1f0840);
  display: flex;
  justify-content: center;
  height: 100vh;
} */

.nosotros {
  background-color: #1f0840;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}


.btn-outline {
  background-color: rgb(100, 57, 255);
  box-shadow: rgb(100, 57, 225) 0px 0px 3px 1px;
  border-radius: 10px;
  border: 0px;
  width: auto;
  color: #f2f2f2;
}

.direcciones {
  width: 14%;
  display: flex;
  justify-content: space-between;
}

.outline-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(100, 57, 255);
  text-shadow: 0px 0px 3px 1px rgb(100, 57, 255) 0px opx 3px 1px;
}

.limited-width-paragraph {
  max-width: 900px;
  margin: 0 auto;
}

#primeraInversion {
  background-color: rgb(100, 57, 255);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

#imagenPrimeraInversion {
  max-width: 400px;
  height: auto;
  image-rendering: auto;
  padding: 5%;
}

#crearCuenta,
#compraAhora {
  background-color: white;
  color: #1f0840;
  box-shadow: none;
  border: #1f0840;
  box-shadow: #1f0840 0px 0px 3px 1px;
  font-weight: 600 !important;
}

#crearCuenta:hover,
#compraAhora:hover {
  background-color: #1f0840;
  color: white;
  box-shadow: white 0px 0px 3px 1px;
  border-radius: 10px;
  border: 0px;
  width: auto;
}


#informes {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.col-sm-2 {
  /* width: 200px; */
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-sm-4 {
  background-color: #0d0e2666;
  box-shadow: rgb(88, 82, 242) 0px 0px 3px 1px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 200px;
  height: auto;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.leerMas {
  border: none;
  border-radius: 5px;
  background-color: #0d0e2666;
  box-shadow: rgb(88, 82, 242) 0px 0px 3px 1px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(100, 57, 255);
  text-shadow: 0px 0px 3px 1px rgb(100, 57, 255) 0px opx 3px 1px;
  font-size: 15px;
}

.leerMas:hover {
  border-color: white;
  box-shadow: white 0px 0px 3px 1px;
  -webkit-text-stroke-color: white;
  text-shadow: white;
}

#cotizaciones {
  background-color: rgb(88, 82, 242);
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer{
  font-weight: 500 !important;
  color: #f2f2f2 !important;
  background: linear-gradient(#0d0e26, #1f0840);
  justify-content: center;
  padding: 20px;
}

.row, .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  color: white;
}

h6 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0px;
}

.redes {
  width: 24px;
  height: 24px;
}

.nav li {
  margin-left: 5px;
  margin-right: 5px;
}

#logo-footer {
  width: 50px;
  height: auto;
}

.carousel-inner img {
  max-height: 40vh;
  max-width: 40vh;
}

.navbar {
  background:  linear-gradient(#05060f, #2e0b5e);
}
.navbar a {
  color:#f2f2f2;
  text-decoration: none;
}

#navbar-body a:hover {
  background-color: rgb(42, 8, 89);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 1em;
  background: linear-gradient(#05060f, #2e0b5e);
}

.logo {
  width: 15%;
  height: auto;

}