.fondo {
    background: linear-gradient(#0D0E26, #1F0840);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 70%; 
    padding: 0 15px; 
    box-sizing: border-box; 
}

h1{
    font-size: 2rem;
}

form {
    width: 100%;
    max-width: 650px;
}

#login {
    background-color: rgba(13, 14, 38, 0.4);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px rgb(88, 82, 242);
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

