<section class="col-sm-12 col-md-12 col-lg-12 mx-auto fondo">
  <div id="login" class="animated fadeIn mb-3 mt-3">
    <h1 class="text-center mt-1 letras">Registrarse</h1>
    <form [formGroup]="registerForm" (submit)="saveUsuario()">
      <div class="row">
        <div class="col-6 my-1">
          <label class="form-label letras">Nombre</label>
          <input class="form-control" formControlName="nombre" id="inputNombre" />
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="nombre.errors?.['required']">
              El nombre es requerido
          </div>
          </div>
        </div>
        <div class="col-6 my-1">
          <label class="form-label letras">Apellido</label>
          <input class="form-control" formControlName="apellido" id="inputApellido" />
          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="apellido.errors?.['required']">
              El apellido es requerido
          </div>
          </div>
        </div>
        <div class="col-4 my-1">
          <label class="form-label letras">Día</label>
          <input class="form-control" formControlName="day" type="number" id="inputDay" />
          <div *ngIf="day.invalid && (day.dirty || day.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="day.errors?.['required']">
              El día es requerido
          </div>
          </div>
        </div>
        <div class="col-4 my-1">
          <label class="form-label letras">Mes</label>
          <input class="form-control" formControlName="month"  type="number" id="inputMonth" />
          <div *ngIf="month.invalid && (month.dirty || month.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="month.errors?.['required']">
              El mes es requerido
          </div>
          </div>
        </div>
        <div class="col-4 my-1">
          <label class="form-label letras">Año</label>
          <input class="form-control" formControlName="year" type="number" id="inputYear" />
          <div *ngIf="year.invalid && (year.dirty || year.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="year.errors?.['required']">
              El año es requerido
          </div>
          </div>
        </div>
        <div class="col-6 my-1">
          <label class="form-label letras">Tipo de documento</label>
          <input ngModel="DNI" [disabled]="true" class="form-control" formControlName="tipoDocumento" id="inputTipoDocumento" />
          <div *ngIf="tipoDocumento.invalid && (tipoDocumento.dirty || tipoDocumento.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="tipoDocumento.errors?.['required']">
              El tipo de documento es requerido
          </div>
          </div>
        </div>
        <div class="col-6 my-1">
          <label class="form-label letras">N° D.N.I</label>
          <input class="form-control"  formControlName="dni" type="number" id="inputDni" />
          <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="dni.errors?.['required']">
              El numero del documento es requerido
          </div>
          </div>
        </div>
        <div class="col-3 my-1">
          <label class="form-label letras">País</label>
          <input class="form-control"  formControlName="pais" id="inputPais" />
          <div *ngIf="pais.invalid && (pais.dirty || pais.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="pais.errors?.['required']">
              El país es requerido
          </div>
          </div>
        </div>
        <div class="col-3 my-1">
          <label class="form-label letras">Provincia</label>
          <input class="form-control"  formControlName="provincia" id="inputProvincia" />
          <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="provincia.errors?.['required']">
              La provincia es requerida
          </div>
          </div>
        </div>
        <div class="col-3 my-1">
          <label class="form-label letras">Ciudad</label>
          <input class="form-control"  formControlName="ciudad" id="inputCiudad" />
          <div *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="ciudad.errors?.['required']">
              La ciudad es requerida
          </div>
          </div>
        </div>
        <div class="col-3 my-1">
          <label class="form-label letras">Código Postal</label>
          <input class="form-control"  formControlName="codigoPostal" id="inputCodigoPostal" />
          <div *ngIf="codigoPostal.invalid && (codigoPostal.dirty || codigoPostal.touched)" class="text-danger mb-0 mt-1">
            <div *ngIf="codigoPostal.errors?.['required']">
              El código postal es requerido
          </div>
          </div>
        </div>
        <div class="col-12 my-1">
          <label class="form-label letras">Teléfono</label>
          <input class="form-control" formControlName="telefono" type="" id="inputTelefono"/>
          <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                class="text-danger mb-0 mt-1">
                <div *ngIf="telefono.errors?.['required']">
                    El teléfono es requerido
                </div>
            </div>
        </div>
        <div class="col-12 my-1">
          <label class="form-label letras">Email</label>
          <input class="form-control" formControlName="email" type="email" id="inputEmail" />
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-danger mb-0 mt-1">
                <div *ngIf="email.errors?.['required']">
                    El email es requerido
                </div>
                <div *ngIf="email.errors?.['email']">
                    El formato del email es incorrecto.
                </div>
            </div>
        </div>
        <div class="col-6 my-1">
          <label class="form-label letras mt-1">Contraseña</label>
          <input (input)="passwordMatch()" class="form-control" formControlName="password" type="password" id="inputPassword" />
          <div *ngIf="password.invalid && (password.dirty || password.touched)"  class="text-danger mb-0 mt-1">
            <div *ngIf="password.errors?.['required']">
              <div *ngIf="password.errors?.['required']">
                La contraseña es requerida
            </div>
          </div>
        </div>
        </div>
        <div class="col-6 my-1">
          <label class="form-label letras mt-1">Confirmar Contraseña</label>
          <input (input)="passwordMatch()" class="form-control"  formControlName="confirmPassword" type="password" id="inputPasswordrepeat" />
          <div *ngIf="this.passwordBoolean || confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"  class="text-danger mb-0 mt-1">
            <div *ngIf="confirmPassword.errors?.['required'] || this.passwordBoolean">
              
              <div *ngIf="confirmPassword.errors?.['required'] || this.passwordBoolean">
                La contraseña debe ser igual
            </div>
          </div>
        </div>
        </div>
        <div class="col-12 my-1">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
            <label class="form-check-label" checked for="flexCheckChecked">
              Recibir novedades.
            </label>
          </div>
          <div class="form-check">
            <input (change)="changeValueAcceptTerms()" class="form-check-input" type="checkbox" value='' id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">
              Acepto los terminos de condiciones de uso.
            </label>
          </div>
        </div>
        <div class="col-12 mt-2 text-center">
          <button type="submit"  class="btn btn-primary btn-block" [disabled]="(this.passwordBoolean || !registerForm.valid || !aceptaTerminos)">
            Registrarme
          </button>
        </div>
      </div>
    </form>
  </div>
</section>