body, html{
    background: linear-gradient(#0D0E26, #1F0840);
    height: 100%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.ng-valid:not(form).ng-touched{
    border-left: 5px solid #42A948
}

.ng-invalid:not(form).ng-touched{
    border-left: 5px solid #a94442
}