.body-bg{

       background:  linear-gradient(#0D0E26, #1F0840);
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       color: white;   
}

.section-bg{
    background-color: #0D0E2666;
    box-shadow: rgb(88, 82, 242) 0px 0px 3px 1px;
    border-radius: 10px;
}


  