<div class="contenedor margin-portafolio tamanio">
  <h1>Mi Portafolio</h1>
  <div class="portafolio">
    <div style="font-size: 24px;">
      Total invertido: {{totalInvertido}}
    </div>
    <div style="font-size: 18px;">
      Saldo cuenta demo: {{saldoCuenta}}
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Acciones Compradas</th>
        <th>Cantidad</th>
        <th>Valor comprometido</th>
        <th>Ganancia o Pérdida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of portafolio">      
    
      </tr>
    </tbody>
  </table>
</div>
