<div class="contenedor margin-portafolio tamanio animated fadeIn">
  <h1>Mi Portafolio</h1>
  <div class="portafolio">
    <div style="font-size: 24px;">
      Total invertido: ARS$ {{totalInvertido}}
    </div>
    <div style="font-size: 18px;">
      Saldo cuenta demo: ARS$ {{saldoCuenta}}
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Acciones Compradas</th>
        <th>Valor Unitario</th>
        <th>Cantidad</th>
        <th>Valor comprometido</th>
        <th>Ganancia o Pérdida</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of portafolio">
        <tr>
          <td>{{ item.accion }}</td>
          <td>{{ item.valorAccion | currency:'USD':'symbol':'1.2-2' }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.valor | currency:'USD':'symbol':'1.2-2' }}</td>
          <td [ngStyle]="{'color': item.ganancia > 0 ? 'green' : (item.perdida > 0 ? 'red' : 'black')}">
            {{ (item.ganancia > 0 ? '+' : '-') + (item.ganancia > 0 ? item.ganancia : item.perdida) | currency:'USD':'symbol':'1.2-2' }}
          </td>

        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
